<br><hr><br>

<h2>Unapproved Jobs</h2>
<% if @unapproved_jobs %>
  <% @unapproved_jobs.each do | job | %>
    <div>
      <%= link_to "Company: #{Company.find(job.company_id).name}  Job Title: #{job.title}  -  Job Type: #{job.job_type}", job %>
    </div>
  <% end %>
<% end %>

<br><hr><br>

<h2>Unapproved companies</h2>
<% if @unapproved_companies %>
  <% @unapproved_companies.each do | company | %>
    <div>
      <%= link_to "Company: #{company.name}", company %>
    </div>
  <% end %>
<% end %>

<br><hr><br>