<h2>Unapproved Jobs</h2>
<% @unapproved_jobs.each do | job | %>
  <% if job %>
    <div>
      <%= link_to "Company: #{job.company.name}    - | -   Job Title: #{job.title}    - | -   Job Type: #{job.job_type}", job %>
      <br>
      <%= link_to 'Edit Job', edit_job_path(job) %>
    </div>
    <br><br>
  <% end %>
<% end %>

<br><hr><br>

<h2>Unapproved companies</h2>
<% if @unapproved_companies %>
  <% @unapproved_companies.each do | company | %>
    <% if company %>
      <div>
        <%= link_to "Company: #{company.name}", company %>
        <br>
        <%= link_to 'Edit Company', edit_company_path(company) %>
      </div>
    <% end %>
  <% end %>
<% end %>

<br><hr><br>