<% if admin_signed_in? %>
  <p>
    <%= link_to 'Back to Admin Page', admins_path %>
  </p>
<%end%>
  
<p>
  <%= link_to 'Back to jobs', jobs_path %>
</p>

<h2>Edit company</h2>

<%= render 'form' %>

<br>

