<p class="navbar-text pull-right">
  <%= link_to 'Admin Page', admins_path %>
  <% if admin_signed_in? %>
         -  |  -    <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
         -  |  -    Logged in as <strong><%= current_admin.email %></strong>.
  <% end %>
</p>

<h2>Edit Company</h2>

<%= render 'form' %>

<br>
