<h1>Job Posting Form</h1>
<form id="form">
	<label for="Entry_Level">Click the Entry Level *</label> <br />
	<input type="radio" name="options" value="1" checked="true">Internship</input>
	<input type="radio" name="options" value="1">Full Time</input><br /><br />
	<table>
		<tr>
			<td>
				<h3><label for="jobTitle">Job Title *</label></h3>
			</td>
			<td>
				<input type="text" name="jobTitle" maxlength="50" size="30">
			</td>
		</tr>
		<tr>
			<td>
				<label for="employer">Company *</label>
			</td>
			<td>
				<input type="text" name="company" maxLength="50" size="30">
			</td>
		<tr>
			<td>
				<label for="jobAddress">Address *</label>
			</td>
			<td>
				<input type="text" name="jobAddress" maxLength="30" size="15">
			</td>
		</tr>
			<td>
				<label for="jobCity">City *</label>
			</td>
			<td>
				<input type="text" name="city" maxLength="20" size="15">
			</td>
			<td>
				<label for="jobState">State *</label>
			</td>
			<td>
				<input type="text" name="state" maxLength="20" size="15">
			</td>
			<td>
				<label for="jobZip">Zip *</label>
			</td>
			<td>
				<input type="text" name="zip" maxLength="5" size="10">
			</td>
		</tr>
		<tr>
			<td>
				<label for="county">Work Site County/ies</label>
			</td>
			<td>
				<input type="text" maxLength="50" size="30">
			</td>
		</tr>
		<tr>
			<td>
				<label for="bus">On Bus Route?</label>
			</td>
			<td>
				<input type="radio" name="bus" value="yes">Yes
			</td>
			<td>
				<input type="radio" name="bus" value="no">No
			</td>
		</tr>
		<tr>
			<td>
				<label for="jobSalary">Salary *</label>
			</td>
			<td>
				<input type="text" name="salary" maxLength="50" size="30">
			</td>
		</tr>
		<tr>
			<td>
				<label for="hoursPerWeek">Hours Per Week *</label>
			</td>
			<td>
				<input type="text" name="hours"maxLength="50" size="30">
			</td>
		</tr>
	<table>


	<h2>Requirements of Employer</h2>

	<table>
		<tr>
			<td>
				<label for="jobEducation">Education *</label>
			</td>
			<td>
				<textarea rows="4" name="education" cols="50"></textarea>
			</td>
		</tr>	
	</table>

	<h2>Duties and Responsibilities of the Job</h2>

	<table>
		<tr>
			<td>
				<label for="jobDescriptions">Job Description *</label>
			</td>
			<td>
				<textarea rows="4" name="jobDescription" cols="50"></textarea>
			</td>
		</tr>
	</table>

	<h3>Benefits</h3>

	<table>
		<tr>
			<td>
				<label for="insurance">Insurance *</label>
			</td>
			<td>
				<input type="text" name="insurance" size="30">
			</td>
		</tr>
		<tr>
			<td>
				<label for="leaveHoliday">Leave and Holidays *</label>
			</td>
			<td>
				<input type="text" name="leaveHoliday" size="30">
			</td>
		</tr>
		<tr>
			<td>
				<label for="educationTraining">Education and Training *</label>
			</td>
			<td>
				<input type="text" name="educationTraining" size="30">
			</td>
		</tr>
		<tr> 
			<td>
				<label for="otherBenefits">Other Benefits *</label>
			</td>
			<td>
				<input type="text" name="otherBenefits" size="30">
			</td>
		</tr>
	</table>

	<h3>Company Profile</h3>

	<table>
		<tr>
			<td>
				<label for="profile">Company Profile *</label>
			</td>
			<td>
				<textarea rows="4" name="companyProfile" cols="50"></textarea>
			</td>
		</tr>
	</table>

	<h3>How To Apply</h3>

	<table>
		<tr>
			<td>
				<label for="applyPerson">Apply in Person</label>
			</td>
			<td>
				<textarea rows="4" cols="50"></textarea>
			</td>
		</tr>
		<tr>
			<td>
				<label for="mailResume">Mail a Resume</label>
			</td>
			<td>
				<textarea rows="4" cols="50"></textarea>
			</td>
		</tr>
		<tr>
			<td>
				<label for="emailResume">E-mail a Resume</label>
			</td>
			<td>
				<textarea rows="4" cols="50"></textarea>
			</td>
		</tr>
		<tr>
			<td>
				<label for="faxResume">Fax Resume</label>
			</td>
			<td>
				<input type="text" name="faxResume" maxLength="20" size="30">
			</td>
		</tr>
	</table>
	<input type="submit" value="Submit">
</form>


